body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

.case {
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #444;
}

#items {
  display: flex;
  transition: transform 2s ease-out;
}

.item {
  min-width: 150px;
  padding: 20px;
  margin: 5px;
  background: #1e293b;
  border-radius: 10px;
}

.common { border: 2px solid gray; }
.rare { border: 2px solid blue; }
.epic { border: 2px solid purple; }
.legendary { border: 2px solid gold; }

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.legendary {
  border: 2px solid gold;
  box-shadow: 0 0 20px gold;
}

.epic {
  border: 2px solid purple;
  box-shadow: 0 0 10px purple;
}
